{% extends '@App/admin/layout.html.twig' %}

{% block title %}Admin Dashboard | WakeUpCafe{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>

    <div class="page-header">
        <h1>Dashboard <br class="visible-xs"><small>Here you can see general system statistics</small></h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Post statistic</h3>
                </div>
                <div class="panel-body">
                    <div>Posted: <span class="label label-success">{{ postPosted }}</span></div>
                    <div>Added today: <span class="label label-info">{{ postAddedToday }}</span></div>
                    <div>Awaiting approval: <span class="label label-warning">{{ postAwaitingApproval }}</span></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reservation statistic</h3>
                </div>
                <div class="panel-body">
                    <div>Today: <span class="label label-success">{{ reservationToday }} / {{ benchCount }}</span></div>
                    <div>Tomorrow: <span class="label label-info">{{ reservationTomorrow }} / {{ benchCount }}</span></div>
                    <div>Last week: <span class="label label-warning">{{ reservationWeek }}</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}