{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <a href="{{ path('app_blog_post', {post: post.id}) }}"> <h1>{{ post.title }}</h1> </a>
            <p class="lead">{{ post.date | date('Y-m-d H:i:s') }}</p>
        </div>

        <div class="row max-images-limit">
            {{ post.contentFull|raw }}
        </div>

        <div class="row" style="margin-bottom: 100px">
            <a href="{{ path('app_blog_list') }}" class="btn btn-default">Back</a>
        </div>
    </div>
{% endblock %}